{# templates/comment.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Women only{% endblock %}

{% block body %}
<div class="card mb-3">
      <img src="images/comment.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="HomeBlock-content HomeBlock-content--even">
            <h5 class="card-title text-center ">Vous souhaitez vous déplacer en toute confiance !</h5>
            <p class="u-marginNone u-space-4">
                <p class="card-text text-center "> Le fonctionnement de notre site est tout simple, cela vous permettra de déposer ou de consulter les services proposés. 
                    <br/>Pour cela quelques clics suffisent !
                    <br/>Etape 1: Il faut remplir le questionnaire en cliquant sur le bouton inscription.
                    <br/>Etape 2: Vous recevez ensuite un mail de confirmation qu'il faudra VALIDER.
                    <br/>Etape 3: Bienvenue parmi nous, vous pouvez utiliser les services proposés.
                </p>
                <div class="col-md-12 text-center"> 
                    <!--<button  type="button" class="btn-center">Je créer mon compte</button>--> 
                    <button type="button" class="btn btn-info">Je créer mon compte</button>
                </div>
            </div>
        </div>
{% endblock %}