
{% block title %}Women only{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}


<div class="container"> 
    <div class="row">
        <div class="col-12">
    <img src="{{ asset('images/contact.jpg') }}" class="card-img-top" alt="...">
            <div class="card">
                
              <h5 class="card-header">
               Pour nous contacter, veuillez remplir le formulaire: </h5>
                <div class="card-body">

                    <!-- Génére le formulaire -->
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                </div>


    </div>
    
</div>
</div>
</div>
{% endblock %}