{% block title %}Women only{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

<div class="HomeBlock-inner">

    <fieldset>
        <legend> FOIRE AUX QUESTIONS :</legend>

        I. <em> <strong> Comment rechercher / proposez un trajet ? </strong></em>
        <br/>
        Une fois votre inscription faites ET validée
        <br/>
        Sur la page d’accueil du site :
        <br/>
        Cliquez sur recherchez/proposez
        <br/>
        Rubrique PROPOSEZ
        • Indiquez dans votre annonce : votre lieu de départ et d’arrivée, date, heure et un contenu explicatif. Et suivez les instructiions
        <br/>
        • Puis cliquez sur « Proposez ».
        Rubrique "Recherchez"


        II. <em> <strong> Est-ce que votre service est gratuit ?</strong></em>

        Women only est un site participatif totalement gratuit
        <br/>
        III. <em> <strong>J’ai peur qu’on me pose un lapin... </strong></em>

        <br/>
        Prenez contact directement avec le membre qui a publié l’annonce par le biais de son mail ou son téléphone si le membre l’a indiqué. <br/>
        Précisez à cette occasion :
        si vous avez un impératif horaire.

        le lieu et l’heure du rendez-vous.
        La veille du trajet, envoyez un SMS ou un EMAIL de confirmation de rendez-vous, avec votre prénom et/ou votre pseudo


        IV. <em> <strong>Dois-je m’inscrire ?</strong> </em>

        La confiance est le maitre mot de Women only. Vous pouvez découvrir toutes les annonces seulement si vous êtes inscrite ET certifiée pour le bon déroulement de ce
        site.
        vous devez donc créer un compte sur le site internet. C’est une façon simple de sécuriser l’accès aux données personnelles de nos inscrits.
        <br/>
        V. <em> <strong> J’ai plein de critiques ! </strong></em>

        On aime aussi les critiques... Envoyez-nous via le formulaire de contact toutes vos remarques pour l’amélioration de notre site. (ii mettre lien page contact)

    </fieldset>
</div>

{% endblock %}