{% block title %}Women only{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

<img src="{{ asset('images/faq.jpg') }}" class="card-img-top" alt="...">

<div class="HomeBlock-inner">

    <fieldset>
        <p><br><legend> FOIRE AUX QUESTIONS :</legend>

        <p><br>I.<em><strong> Comment rechercher / proposez un trajet ? </strong></em>
        <br>Une fois votre inscription faites ET validée, il faut vous rendre sur la page "Proposer un trajet" ou "Rechercher un trajet" . Un choix d'annonce vous sera alors proposer suivant vos besoins, vous pourrez ensuite rentrer en contact avec la personne pour finaliser votre trajet.

        <p><br>II. <em><strong> Est-ce que votre service est gratuit ?</strong></em>

        <br>Women only est un site participatif totalement gratuite. 

        
        <p><br>III. <em><strong>J’ai peur qu’on me pose un lapin... </strong></em>

        <br>Malheureusement il peut y avoir des imprévus, mais pas de panique vous serez mis en contact directement avec le membre qui a publié l’annonce par le biais de son mail ou son téléphone si le membre l’a indiqué. Nous vous conseillons de prendre le temps d'échangé sur le trajet et vos attentes pour que les choses se passent au mieux.

        <p><br>IV. <em><strong>Confirmer le rendez-vous !</strong></em>
        La veille ou le jour du départ, prendre contact avec le membre avec qui vous allez faire le trajet pour confirmer le lieu et l’heure du rendez-vous.
        Ayant au préalable échanger vos coordonnées surtout ne pas hésitez à vous envoyez un SMS ou un EMAIL de confirmation de rendez-vous, avec votre prénom et/ou votre pseudo.


       <p><br> V.<em><strong> Dois-je m’inscrire ?</strong></em>
        La confiance est le maitre mot de Women only. Vous pouvez découvrir toutes les annonces seulement si vous êtes inscrite ET certifiée pour le bon déroulement des trajets. 

        <br>vous devez donc créer un compte sur le site internet. C’est une façon simple de sécuriser l’accès aux données personnelles de nos inscrits.

        <p><br> VI.<em><strong>Pourquoi devoir donner autant d’informations sur mon profil ?</strong></em>
        <br>Plus vous vous présenterez aux autres copines, et plus fortes sont les chances que vous trouviez LA bonne copine pour partir. Women Only est là pour vous mettre en relation dans les meilleurs conditions et pourquoi pas vous permettrent de faire de belles rencontres amicales. 
        
        <p><br>VII.<em><strong> J’ai plein de critiques ! </strong></em>

        <br>On aime aussi les critiques... Envoyez-nous via le formulaire de contact toutes vos remarques pour l’amélioration de notre site ou tous soucis rencontrés lors de l'utilisation de notre site internet, nous vous répondrons dans les meilleurs delais. 

        <p><br>VIII. <em><strong>Pourquoi n’est ce pas ouvert aux hommes ? </strong></em>

        <br>Non non non, ne vous méprenez pas, nous pensons que les hommes sont bien indispensables et qu’un monde exclusivement féminin serait bien triste ! Mais dans le but de pouvoir partager plus facilement les trajets et pour que les femmes se sentent plus en sécurités le site est réservé exclusivement aux femmes.



    </fieldset>
</div>

{% endblock %}