{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Women only{% endblock %}

{% block body %}
	<div class="card mb-3">
  <img src="{{ asset('images/voyage.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">{{ 'index.title'|trans }}</h5>
    <p class="card-text text-center">
		{{ 'index.descriptionLine1'|trans }}
		<br>
		{{ 'index.descriptionLine2'|trans }}
    </p>
</div>
</div>
 {% if app.user == null %}
<div class="row">
	
	 <div class="col-md-12 text-center">
        <button type="button" class="btn btn-info">Connexion</button>
		<button type="button" class="btn btn-info">Je créer mon compte</button>
	</div>
	</div>
</div>
{% endif %}
{% endblock %}