{% block title %}Women only{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}


<div class="HomeBlock-inner">
	<div class="mentionsLegales">
		<h5 class="card-title">Mentions Légales !</h5>

		<br><p>Les informations fournies sur le site Women Only le sont à titre informatif. Women Only ne saurait garantir l'exactitude, la complétude, l'actualité des informations diffusées sur le site. Women Only met tout en œuvre pour offrir aux utilisateurs des informations et outils disponibles et vérifiés, mais ne saurait être tenu pour responsable des erreurs ou omissions, d'une absence de disponibilité des informations et des services. En conséquence, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.

		<br><p>En conformité avec les dispositions de la loi n° 2018-493 du 20 juin 2018, promulguée le 21 juin 2018, a modifié la loi Informatique et Libertés du 6 janvier 1978 relative à l'Informatique, aux fichiers et aux libertés, l'utilisateur dispose d'un droit d'information, d'un droit d'accès, de modification et suppression des données ainsi que d'un droit d'opposition à l'utilisation de ces données. L'utilisateur peut exercer ces droits en prenant contact avec l'équipe de Women Only en cliquant sur le bouton "CONTACT".

		<br><p>L'utilisateur est notamment informé que, conformément à la loi du 20 juin 2018, les informations personnelles communiquées par l'utilisateur du fait des formulaires présents sur le site sont destinées à Women Only ne seront pas communiquées à des tiers.

		<br><p>L'utilisateur est informé que lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son logiciel de navigation. Le cookie est un fichier de données qui ne permet pas d'identifier l'utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site. L'utilisation de ces cookies a pour finalité de procéder à des analyses de fréquentation, mesures d'audience… afin d'améliorer la qualité du site.

		<br><p>Propriété intellectuelle/Propriété du site.
		Aucune licence, ni aucun autre droit que celui de consulter le site n'est conféré à quiconque au regard des droits de propriété intellectuelle.

		La reproduction des documents du site est autorisée aux fins exclusives d'information pour un usage personnel et privé : toute reproduction et toute utilisation de copies réalisées à d'autres fins est expressément interdite.

		Tous les éléments du site Internet sont et restent la propriété intellectuelle et exclusive de Women Only. Toute reproduction, exploitation, rediffusion ou utilisation des éléments du site, qu'ils soient textuels, logiciels, visuels ou sonores, est strictement interdite sous peine de poursuites pénales.

	 <div class="cgu">
		<br> <h5 class="card-title">Conditions Générales d'utilisations !</h5>
			I. Objet:<br>

			<br>Women only édite une plateforme accessible sur un site internet à l’adresse www....... ou sous forme d’application mobile destinée à mettre en relation des femmes désirant se déplacer en se rendant à une destination donnée afin de partager leur trajet et/ou leur loisir.

			<br>Les présentes conditions générales d’utilisation ont pour objet d’encadrer l’accès et les modalités d’utilisation de l’application.Nous vous invitons à en prendre attentivement connaissance.</p>

			<P>En cliquant sur le bouton « Inscription avec un email », vous reconnaissez avoir pris connaissance et accepter l’intégralité des présentes conditions générales
			d’utilisation.</P>

			II. Définitions:

			<p><br>« Annonces générales » désigne indistinctement une annonce d’un membre, et que cette annonce concerne un trajet en co-voiturage, tramway, train, avion, taxi et/ou un loisir cinéma, restaurant, sport…</p>

			<p> « CGU: »désigne les Conditions Générales d’Utilisation.</p>

			<p>« Compte: »désigne le compte qui doit être créé pour pouvoir devenir membre et accéder àux services proposés par Women Only </p>

			<p>« Membre :»désigne toute personne physique de plus de 18 ans ayant créé un compte sur le site </p>

			<p>« Passager:»désigne le membre ayant accepté la proposition d’être transporté par le conducteur sous forme de co-voiturage.</p>

			« Site » désigne le site internet accessible à l’adresse www……

			<p>« Trajet général:»désigne le trajet faisant l’objet d’une Annonce d’un membre et publié par ledit membre </p>

			<p>III. Inscription à la Plateforme et création de Compte :</p>

			<p>3.1: Conditions d’inscription:</p>

			<p>L’utilisation du site est réservée uniquement aux femmes âgées de 18 ans ou plus.</p>
			<p>Toute inscription sur la Plateforme par une personne mineure est strictement interdite.</p>

			<P> En accédant, utilisant ou vous inscrivant, vous déclarez et garantissez avoir 18 ans ou plus.</P>

			<p>3.2 :Création de Compte:</p>

			<p>La Plateforme permet aux membres de publier des annonces pour se déplacer et consulter des annonces ainsi que d’interagir entre eux pour la réservation. Vous pouvez
			consulter , publier les annonces et réserver uniquement si vous êtes inscrit sur le site.</p>

			<p>Pour vous inscrire sur la Plateforme, vous devez avoir lu et accepter les présentes CGU .</p>

			<p>A l’occasion de la création de votre compte, vous vous engagez à fournir des informations personnelles exactes et conformes à la réalité et à les mettre à jour, par
			l’intermédiaire de votre profil .</p>

			<p>Vous êtes seul(e) responsable de l’utilisation faite de votre compte par un tiers.</p>

			<p>Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d’un tiers, d’autres comptes que celui initialement créé.</p>

			<p>3.3 :Vérification:</p>

			<p>Women only se permet de vérifier certaines des informations que vous fournissez sur votre profil. C’est notamment le cas lors de votre certification par le biais d’un
			selfie.</p>

			<p>IV. Utilisation des Services:</p>

			<p>4.1: Publication des Annonces: </p>

			<p>En tant que membre, et sous réserve que vous remplissiez les conditions ci-dessous, vous pouvez créer et publier des annonces en indiquant des informations quant au
			trajet que vous comptez effectuer (dates/heures et lieux de départ et d’arrivée, )</p>

			<p>Vous reconnaissez être le seul responsable du contenu de l’annonce que vous publiez. Vous déclarez et garantissez l’exactitude et la véracité de toute information
				contenue dans votre annonce et vous engagez à effectuer le trajet que cela soit en co-voiturage, train, avion, taxi, tramway selon les modalités décrites dans votre
			annonce.</p>

			4.2: Les avis :

			<p><br>Vous reconnaissez et acceptez que Women only se réserve la possibilité de ne pas publier ou supprimer tout avis, toute question, tout commentaire ou toute réponse dont
				elle jugerait le contenu contraire aux présentes CGU.
				En tant que membre de ce site participatif , vous vous engagez à ne pas demander une Participation aux Frais.
				• (VI) Ne pas tenter de contourner le système de réservation en ligne de la Plateforme, notamment en tentant de communiquer à un autre Membre ou un Autocariste vos
				coordonnées afin de réaliser la réservation en dehors de la Plateforme et ne pas payer les Frais de Service.
				• (VII) Ne pas contacter un autre Membre ou Autocariste, notamment par l’intermédiaire de la Plateforme, à une autre fin que celle de définir les modalités du
				covoiturage.
				• (VIII) Ne pas accepter ou effectuer un paiement en dehors de la Plateforme.
				• (IX) Vous conformer aux présentes CGU et à la Politique de Confidentialité.<br></p>

				<p>V. Suspension de comptes, limitation d’accès et résiliation: </p>

				<p>Vous avez la possibilité de mettre fin à votre relation contractuelle avec women only
				à tout moment, sans frais et sans motif. Pour cela, il vous suffit de vous rendre dans l’onglet « Fermeture de compte » de votre page Profil.</p>

				<p>VI. Données personnelles: </p>

				<p>Dans le cadre de votre utilisation de la Plateforme, BlaBlaCar est amenée à collecter et traiter certaines de vos données personnelles. En utilisant la Plateforme et
					vous inscrivant en tant que Membre, vous reconnaissez et acceptez le traitement de vos données personnelles par BlaBlaCar conformément à la loi applicable et aux
					stipulations de la Politique de Confidentialité.<br></p>

					<p>VII. Rôle de women only:</p>
					<p>
						La Plateforme constitue une plateforme en ligne de mise en relation sur laquelle les Membres peuvent créer et publier des Annonces pour des Trajets. Ces Annonces peuvent
						être consultées par les autres Membres inscrits.
					</p>


				</div>

			</div>

{% endblock %}