{% block title %}Women only{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

<div class="HomeBlock-inner">
    <div class="HomeBlock-media HomeBlock-media--primary">
            <img src="{{ asset('images/qui.jpg') }}" class="card-img-top" alt="...">
    </div>
</div>
<div class="card-body">
    <h5 class="card-title text-center">{{ 'qui.title'|trans }}</h5>
    <p class="card-text text-center"> {{ 'qui.descriptionLine1'|trans }}</p>
    <p class="card-text text-center">{{ 'qui.descriptionLine2'|trans }}</p>
</div>

{% endblock %}