{% block title %}Women only{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

<div class="HomeBlock-inner">
    <div class="HomeBlock-media HomeBlock-media--primary">
        <div class="HomeBlock-image" style="background-image: url('images/qui.jpg');" aria-hidden="true">
            <img src="images/qui.jpg" class="card-img-top">
        </div>
    </div>
</div> 
<div class="card-body">
    <h5 class="card-title text-center">Women Only</h5>
    <p class="card-text text-center">WOMEN ONLY est une application participative et communautaire de mise en relation de femme souhaitant se déplacer uniquement en compagnie d’autres femmes pour se sentir en confiance quel que soit l’heure et le jour.

     <br>Venez partager cette nouvelle expérience avec nous !
 </p>
</div>


</div>
</div>
</div>
{% endblock %}